$errors: rgba(88, 21, 28, 1);
@mixin buttonInit() {
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

@mixin positionAbs($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
}

$my-variable: 42;

@debug $my-variable;

input {
  border: 0;
  outline: 0;
}

button {
 @include buttonInit();
}

.ipt {
  width: 100%;
  min-height: 42px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #adadad;
  border-radius: 4px;

  &:focus {
    border: 2px solid #000 !important;
  }
}

.ipt_box {
  display: inline-block;
  input:focus {
    border-color: #000;
  }
}


.btn {
  width: 100%;
  min-height: 60px;
}


.d {
  @include positionAbs(10px, 30px)
}

